<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Access</title>
</head>
<body>
    <h2>Доступ по адресу: <label th:text="${address.street}
                + ' ' + ${address.house} + ' - ' + ${address.building} + ':'" /> </h2>

    <form action="#" th:object="${entrance}" method="post">
        Номер парадной: <input type="number" th:field="*{number}" /> <br />
        Доступ <input type="text" th:field="*{access}" /> <br />
        <button type="submit">Добавить</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Подъезд</th>
            <th>Описание</th>
        </tr>
        </thead>
        <div th:if="${entrances} != null">
            <tr th:each="entrance : ${entrances}">
                <td><label th:text="${entrance.number}" /></td>
                <td><label th:text="${entrance.access}" /></td>
                <td><a th:href="@{/findEntrance/{id}/comments(id=${entrance.id})}">Комментарии</a> </td>
            </tr>
        </div>
    </table>

    <br />
    <a href="/">Домой</a>
</body>
</html>