<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Comments</title>
</head>
<body>
    <div class="container">

        <h2>Комментарии к адресу: <label th:text="${entrance.address.street} + ' ' + ${entrance.address.house} +
                                '/'+ ${entrance.address.building} + ', подъезд #' + ${entrance.number}" /> </h2>

        <div class="row contect">
            <div class="col-sm-12">
                <form action="#" th:object="${comment}" method="post">
                    <div class="col-sm-6">
                        <div class="form group">
                            <table class="table">
                                <thead></thead>
                                <tr>
                                    <td>
                                        Сообщение:
                                    </td>
                                    <td>
                                        <input type="text" style="size: 100px" th:field="*{message}" />
                                    </td>
                                    <td>
                                        <button class="btn btn-success" type="submit">Отправить</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
                <br />
                <table class="table">
                    <thead>
                    <tr>
                        <th>Комментарии</th>
                        <th></th>
                    </tr>
                    </thead>
                    <div th:if="${comments} != null">
                        <tr th:each="comment : ${comments}">
                            <td><label th:text="${comment.message}" style="size: 100px"/></td>
                            <!--<td><label th:text="${comment.message}" /></td>-->
                        </tr>
                    </div>
                </table>
            </div>
        </div>
        <br />
        <a th:href="@{/findAddress/{id}/access(id=${entrance.address.id})}">Назад</a>
        <a href="/">Домой</a>
    </div>
</body>
</html>