<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>
            TEST FORM
        </h1>
        <div class="row content">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Улица</th>
                        <th>Дом</th>
                        <th>Корпус</th>
                        <!--<th>Доступ</th>-->
                        <!--<th>Изменить</th>-->
                    </tr>
                    </thead>
                    <tr th:each="address : ${addresses}">
                        <td><label th:text="${address.street}" /></td>
                        <td><label th:text="${address.house}" /></td>
                        <td><label th:text="${address.building}" /></td>
                        <td><a th:href="@{/findAddress/{id}/access(id=${address.id})}">Доступ</a> </td>
                        <!--<td><a th:href="@{/edit/{id}/address(id=${address.id})}"><label th:text="${address.id}" /></a> </td>-->
                    </tr>
                </table>
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

</body>
</html>