<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!--<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->
        <!--<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />-->
    </div>
</head>
<body>
<div th:fragment="header" style="margin-bottom: 60px">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Access database</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Домой</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Списки
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/{name}(name='2-я Жерновская')}">2-я Жерновская</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='3-я Жерновская')}">3-я Жерновская</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='6-я Жерновская')}">6-я Жерновская</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Индустриальный')}">Индустриальный</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Ириновский')}">Ириновский</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Коммуны')}">Коммуны</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Косыгина')}">Косыгина</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Лазо')}">Лазо</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Наставников')}">Наставников</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Осипенко')}">Осипенко</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Отечественная')}">Отечественная</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Передовиков')}">Передовиков</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Ударников')}">Ударников</a>
                            <a class="dropdown-item" th:href="@{/{name}(name='Энтузиастов')}">Энтузиастов</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</div>
</body>
</html>