<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
    <div th:replace="fragments/header :: header-css" />
</head>
<body>

<div th:replace="fragments/header :: header" />

<div class="col-sm-12">
    <div class="container">
        <h3 th:text="${street}">Адрес</h3>
        <table class="table table-bordered">
            <thead>
            <tr class="info">
                <th>Дом</th>
                <th>Корпус</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="address : ${addresses}">
                <!--<td><label th:text="${address.id}" /></td>-->
                <td><label th:text="${address.house}" /></td>
                <td><label th:text="${address.building}" /></td>
                <td><a th:href="@{/address/{id}(id=${address.id})}">Доступ</a></td>
            </tr>
        </table>
    </div>
</div>
<!--/.container-->

<div th:replace="fragments/footer :: footer" />

</body>
</html>